@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');



* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

/* *::selection {
    background: yellow;
    color: #333;
} */

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 1.24rem;
}

html::-webkit-scrollbar-track {
    background: #222;
}

/* / */

section {
    min-height: 100vh;
    padding: 1rem;
}

.btn {
    padding: .7rem 3rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}

.btn i {
    padding: 0 .5rem;
    font-size: 1.5rem;
    color: #fff;
    /* background-color: cr; */
}

.btn:hover {
    background: crimson;
}




body {
    background-image: url(image/banner.jpg);
    /* background: rgb(0, 36, 50); */
    overflow-x: hidden;
    padding-left: 35rem;
}
.heading{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: .1rem solid #fff4;
    color: #fff;
}
.heading span{
    color: crimson;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    /* background-image: url(image/banner.jpg); */
    background: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-flow: column;
}

header .user img {
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: .7rem solid crimson;
}

header .user .name {
    font-size: 3.5rem;
    color: #fff;
}

header .user .post {
    font-size: 2rem;
    color: #eee;
}

header .navbar {
    width: 100%;
}

header .navbar ul {
    list-style: none;
    padding: 1rem rem;
}

header .navbar ul li a {
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background: #333;
    color: #fff;
    font-size: 2rem;
    border-radius: 5rem;
}

header .navbar ul li a:hover {
    background: crimson;
}

#menu {
    position: fixed;
    top: 2rem;
    right: 2rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
    display: none;
}



/* home styling start */

.home {
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;
}

.home h3 {
    font-size: 2.5rem;
    color: #fff;
}

.home h1 {
    font-size: 5rem;
    color: #fff;
}
.home h1 span{
    color: crimson;
}

.home p {
    font-size: 2rem;
    color: #eee;
    padding: 1rem 0;
}


.About{
background-image: url(image/about-us-page-title-background.jpg);
background-size: cover;
}
.About .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;

} 
.About .row .info{
    flex:1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 6rem;
    padding-top: 7rem;
}
.About .row .counter{
    /* flex:1 1 48rem; */
    /* padding: 2rem 1rem; */
    /* padding-top: 14vh; */
}
.About .row .counter h1{
    font-size: 25px;
    margin-bottom: 2vh;
    padding-top: 7rem;
    /* margin-top: 5vh; */

}
.About .row .counter h1 span{
    color: crimson;
    font-weight: 600;
}
.About .row .counter p{
 /* flex:1 1 48rem; */
    /* padding: 2rem 1rem; */
    font-size: 20px;
    /* background-color: aqua; */
    width: 40vw;
}
.About .row .info h3{
    font-size: 2rem;
    color: crimson;
    padding: 1rem 0;
    font-weight: normal;
    

}
.About .row .info h3 span{
    color: #fff;
    font-weight: 600;
}



/* service styling----------------------------------------- */


.service{
    background-color: #fff;
    background-image: url(image/pngtree-professional-color-blend-abstract-vector-background-picture-image_1908086.jpg);
    background-size: cover;
    
}
.service .row{
    display: flex;
    align-items: center;
    padding-top: 20vh;
    justify-content: space-between;
    flex-wrap: wrap;
}
.service .row .card .text{
    color: #1a1a1a;
}
.service .row .card{
    width: calc(30% - 20px);
    background: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    height: 30vh;
    transition: all 0.3s ease;
}
.service .row .card i{
    font-size: 30px;
    color: crimson;
}
.service .row .card:hover{
    background: crimson;
}

.service .row .card p,.text{
    color: #1a1a1a;
}

.service .row .card .text{
    font-size: 16px;
    font-weight: 700;
}

.service .row .card p{
    font-size: 16px;
    font-weight: 600;
}
.service .row .card:hover i,p,.text{
    color: white;
    transition: all 0.3s ease;
}
.service .row .card:hover .text{
    color: #fff;
}

.service .row .card:hover p{
    color: #fff;
    transition: all 0.3s ease;

}

/* skills style------------------------------------- */

.skill{
    background-image: url(image/Technical-hard-skills-final-02.jpg);
    background-size: cover;
}

.skill .skills-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20vh;
}
.skill .skills-content .column{
    width: calc(50% - 30px);
}
.skill .skills-content .left .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skill .skills-content .left p{
    font-size: 20px;
}
.skill .skills-content .right .bars{
    gap: 10px;
}
.skill .skills-content .right .bars span{
    font-size: 15px;
    color: #fff;
}
.skill .skills-content .right .bars .info{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
/* .skill .skills-content .right .bars .info span{
    margin-bottom: 30px;
} */
.skill .skills-content .right .bars .line{
    height: 5px;
    width: 100%;
    background: lightgray;
    position: relative;
    margin-bottom: 30px;

}
.skill .skills-content .right .bars .line::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 80%;
    left: 0;
    top: 0;
    background-color: crimson;
}
.skill .skills-content .right .bars .javascript::before{
    width: 65%;
}
.skill .skills-content .right .bars .css::before{
    width: 70%;
}
.skill .skills-content .right .bars .css::before{
    width: 60%;
}



/*------------------------------------- contact styling */


.contact{
    background-image: url(image/depositphotos_322133934-stock-photo-white-popular-contact-web-icons.jpg);
    background-size: cover;
}

.contact .row{
    display: flex;
    align-self: center;
    justify-content: center;
    flex-wrap: wrap;
}
.contact .row .content{
    flex: 1 1 30rem;
    padding: 4rem;
    padding-bottom: 0;
}
.contact .row form{

    flex: 1 1 45rem;
    padding: 2rem;
    margin: 2rem;
    margin-bottom: 4rem;

}
.contact .row form .box{
    padding: 1.5rem;
    margin: 1rem 0;
    background: #3333;
    color: #fff;
    text-transform: none;
    font-size: 1.7rem;
    width: 100%;
}
.contact .row form .message{
    height: 15rem;
    resize: none;
}
.contact .content .title{
    text-transform: uppercase;
    color: #fff;
    font-size: 3rem;
    padding-bottom: 2rem;  
}
.contact .content .info h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: #fff;
    padding: 1rem 0;
    font-weight: normal;
}



















/* media query start0-------------------------------------------------------- */

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
    .heading{
        margin: 0 3rem;
    }
    .home{
        padding: 1rem 4rem;
    }
    .About .row .counter p{
        width: 100%;
    }
    .About .row .info{
        padding-top: 2rem ; 
    }
    .service .row .card{
        width: calc(50% - 10px);
        margin-bottom: 10px;
    }
    


}

@media (max-width: 991px) {
    header {
        left: -120%;
    }

    #menu {
        display: block;
    }

    header.toggle {
        left: 0;
        /* transition: all 0.4  s linear; */
    }
    body{
        padding: 0;
    }
    .skill .skills-content .column{
        width: 100%;
    }
    .skill .skills-content .right{
        margin-top: 10vh;
    }
   
}

@media (max-width: 767px) {
    html {
        font-size: 50% !important;
    }
    .service .row{
        padding-top: 10vh;
    }
    .service .row .card{
       width: 100%;
       height: 25vh;
       
    }
    
}

@media (max-width: 400px) {
    header {
        width: 100vw;
    }
    .service .row .card{
        width: 100%;
        /* margin-top: 10vh; */
     }
     .service .row .card{
        height: 31vh;
     }
     
    
}
